<h3>Miktar Birimi Ekle</h3>
<br>
<tr id="addMenu" style="display: table-row;">
    <td>
      <input type="text" #nameInput placeholder="lütfen miktar birimi için isim giriniz" style="width: 180%;">
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
      <br>
      <a _ngcontent-c5="" class="btn btn-sm bg-warning text-right" (click)="add(nameInput.value)">Submit</a>
      &nbsp;&nbsp;
      <button _ngcontent-c5="" mat-button mat-dialog-close _ngcontent-c5="" class="btn btn-sm bg-info text-right">Cancel</button>
    </td>
  </tr>
