
      <div class="col" id="updateTable">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">The Choosen Unit to Update</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <tr id="addMenu">
                <td>
                  <input type="text" #unitInputforUpdate placeholder="{{this.inputJustifierService.storageDataList[1]}}" style="width: 80%;">
                </td>
                <td>
                </td>
                <td>
                  <a _ngcontent-c5="" class="btn btn-sm bg-warning text-right" (click)="updateSet(unitInputforUpdate.value)">Submit</a>
                  &nbsp;&nbsp;
                  <a _ngcontent-c5="" mat-button mat-dialog-close class="btn btn-sm bg-info text-right">Cancel</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>